* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.accordion-item .accordion-header span {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 8px;
  text-align: center;
  background-color: rgb(218, 194, 12);
  color: #05070b;
  margin-right: 10px;
}
.accordion-item .accordion-header button {
  font-weight: 700;
  color: rgb(174, 147, 9);
}